[Unit]
Description=NFSv4 Client Tracking Daemon
Documentation=man:nfsdcld(8)
DefaultDependencies=no
Conflicts=umount.target
Requires=rpc_pipefs.target proc-fs-nfsd.mount
After=rpc_pipefs.target proc-fs-nfsd.mount systemd-remount-fs.service

[Service]
Type=forking
ExecStart=/usr/sbin/nfsdcld
